@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1f2023;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 800px 1fr; /* 1fr para el margen a cada lado y 800px para el contenido centrado */
  gap: 20px;
  margin: 35px 20px 35px 20px;
  justify-content: center;
}

.nro1,
.nro2,
.nro3 {
  grid-column: 2; /* Centrar el contenido en la segunda columna */
  background-color: #d6e2de;
}

header {
  grid-column: 2;

  padding: 0;
  /* border-bottom: solid 20px #4d6d63; */
  /* border-top: solid 20px #4d6d63; */
  background-color: #1f2023;
  color: #fff;
}

.bbotton {
  border-bottom: solid 20px #4d6d63;
}
.btop {
  border-top: solid 20px #4d6d63;
}
.bbotton::before {
  content: "";
  position: absolute;
  top: 127px;
  left: 69rem;

  border-top: 20px solid #1f2023;
  border-left: 100px solid #4d6d63;
}

h1 {
  margin: 0;
  text-align: center;
}

fieldset {
  border: none;

  margin-bottom: 0;
}

legend {
  padding: 3px;
  background-color: #2b3d37;
  border-radius: 2px;
  color: #fff;
}

.pelotas-container {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(
    11,
    30px
  ); /* Cambia el número y el tamaño según sea necesario */
  gap: 0; /* Ajusta el espacio entre las pelotas */
  justify-content: center;
}
.pelota {
  /* border: solid dotted 10px grey; */
  /* grid-column: 2; */
  width: 20px;
  height: 20px;
  background-color: #a6c1b9; /* Color de fondo de las pelotas */
  border-radius: 50%; /* Hace que el elemento tenga forma de círculo */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.personal-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  justify-content: center; /* Centra los elementos horizontalmente */
  padding-top: 35px;
  padding-bottom: 35px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

input,
select,
textarea {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: block;
  margin: 0 auto; /* Centra el input horizontalmente */
}

.gender-container {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center; /* Centra horizontalmente los elementos */
  gap: 10px;
  text-align: center; /* Centra el texto dentro de las labels */
}

.gender-container input {
  margin-right: 5px; /* Espaciado entre el radio button y el label */
}

.gender-container input {
  grid-row: 1; /* Asegura que todos los radio buttons estén en la misma fila */
}

.gender-container label {
  grid-row: 1; /* Asegura que todos los labels estén en la misma fila */
}

.sport {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: start;
  text-align: start;
  gap: 5px;
  margin-left: 8px;
  padding-bottom: 35px;
}
p {
  margin-left: 8px;
}

.hlabel {
  grid-row: 1;
  margin-right: 5px;
  margin-top: 0;
}

.nro3 form {
  margin: 0;
}

.hinput {
  margin-right: 0px; /* Ajusta el margen derecho de los checkboxes */
  margin-top: 0;
  padding-top: 0;
  grid-row: 1;
}
.title {
  margin-left: 8px;
  margin-bottom: 0;
  text-align: left;
}

.nor4 {
  color: #fff;
  grid-column: 2;
  display: grid;
}

.pico {
  display: grid;
  grid-template-columns: 2rem 10fr;
  align-items: center;
  justify-content: start;
  gap: 5px;

  column-gap: 0;
  row-gap: 0;
}

.inpt {
  grid-row: 1;
  justify-content: flex-start;
  display: flex;
}

.lb {
  grid-row: 1;
  justify-content: flex-start;
  display: flex;
}

.inp2 {
  grid-row: 2;
  justify-content: flex-start;
  display: flex;
}

.lb2 {
  grid-row: 2;
  justify-content: flex-start;
  display: flex;
}
.msg {
  grid-row: 3;
  display: grid;
  grid-column: span 2;
  justify-content: flex-start;
}

.btn {
  margin-top: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-row: 4;
  grid-column: 2;
}

.btn button {
  margin-right: 50px;
  margin-top: 20px;
  background-color: #2b3d37;
  color: #9abbb7;
  border-radius: 4px;
  padding: 8px;
}
